*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  min-height: 100%;
  position: relative;
}
body {
  background-color: #f0eef1;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgb(182, 182, 182) 0px 1px 4px;
}
header>div {
  width: 70%;
}
.btn {
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.15s ease-in-out;
  border: none;
  cursor: pointer;
}
.btn-add {
  font-size: 24px;
  font-weight: 600;
}
.btn:hover {
  filter: brightness(90%);
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.book-prompt {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align: center;
  padding: 10px;
  background-color: #f0eef1;
  transition: 0.2s ease-in-out;
  border-radius: 8px;
  transform: translate(-50%, -50%) scale(0);
}
.book-prompt>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.book-prompt h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
#is-read {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
#is-read label {
  font-size: 2rem;
  font-weight: 100;
}
.checkbox {
  width: 20px;
  height: 20px;
}
input {
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
}

.book-prompt.active {
  transform: translate(-50%, -50%) scale(1);
}
form button {
  width: 100%;
  background-color: #9fff9c;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.active {
  display: block;
}
